<div [style]="{
  display: 'flex',
  flexDirection: 'column',
  justifyContent: 'center',
  alignItems: 'center',
  padding: '1rem',
}">
  <mat-form-field [style.maxWidth]="'500px'">
    <mat-label>Hunt Name</mat-label>

    <input
      matInput
      type="text"
      [(ngModel)]="huntName"
    >

    @if (huntName) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="huntName = ''"
      ><mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <button
    mat-raised-button
    (click)="onAddNewTrigger()"
    [style.width]="'max-content'"
    [style.place-self]="'center'"
    [style.margin-bottom]="'22px'"
  >Add new trigger</button>

  <flex-container>
    <!-- mock data -->
    <div [style.min-height]="'281.25px'" [style.width]="'auto'" [style.aspect-ratio]="'16 / 9'" [style.min-width]="'500px'" [style.background-color]="'red'"></div>
    <div [style.min-height]="'281.25px'" [style.width]="'auto'" [style.aspect-ratio]="'16 / 9'" [style.min-width]="'500px'" [style.background-color]="'red'"></div>
    <div [style.min-height]="'281.25px'" [style.width]="'auto'" [style.aspect-ratio]="'16 / 9'" [style.min-width]="'500px'" [style.background-color]="'red'"></div>
    <div [style.min-height]="'281.25px'" [style.width]="'auto'" [style.aspect-ratio]="'16 / 9'" [style.min-width]="'500px'" [style.background-color]="'red'"></div>
    <!-- mock data -->
  </flex-container>
</div>

<div
  [style]="{
    position: 'fixed',
    height: '50px',
    backgroundColor: 'hsl(0, 0%, 20%)',
    bottom: '0',
    margin: '0.5rem',
    borderRadius: '8px',
    boxShadow: '0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)',
    width: 'clamp(250px, 50%, 500px)',
    left: '50%',
    transform: 'translateX(-50%)',
  }"
>
  <button
    mat-raised-button
    (click)="onFinish()"
    [disabled]="!huntName || !triggers.length"
    [style]="{
      top: '50%',
      left: '50%',
      transform: 'translate(-50%, -50%)',
    }"
  >Finish</button>
</div>
