/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 90%);

  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    background: hsl(0, 0%, 10%);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 20%);
    border-radius: 5px;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
